<div id="<%= dom_id municipe %>">
  <p>
    <strong>Nome:</strong>
    <%= municipe.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= municipe.cpf %>
  </p>

  <p>
    <strong>Cns:</strong>
    <%= municipe.cns %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= municipe.email %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= municipe.data_nascimento %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= municipe.telefone %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= municipe.foto %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= municipe.status %>
  </p>

</div>
