<%= render "municipes/filters" %>

<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<h2>Lista de Municipios</h2>

<div class="card card-default">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
      </div>
      <div>
        <%= link_to 'Novo', new_municipe_path, class:'btn btn-success', type:"button" %>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">CNS</th>
          <th scope="col">Foto</th>
          <th scope="col">Status</th>
          <th scope="col" colspan="3">Ações</th>
        </tr>
      </thead>
      <tbody>
          <% @municipes.each do |municipe| %>
          <tr>
            <th scope="row"><%= municipe.id %></th>
            <th><%= municipe.nome %></th>
            <td><%= municipe.cpf %></td>
            <td><%= municipe.cns %></td>
            <td>
              <% if municipe.foto.attached? %>
                <%= image_tag url_for(municipe.foto), style: 'height:20px;width:120px;' %>
              <% end %>  
            </td>
            <td><%= municipe.status ? "Ativo" : "Inativo" %></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <%= link_to municipe do %>
                <i class="fa fa-eye" aria-hidden="true"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_municipe_path(municipe) do %>
                <i class="fa fa-edit" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
  <ul class="pagination">
    <li class="disabled"> <%= will_paginate(@articles,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %></li>
  </ul>
</div>