
<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Municipio</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <%= form.label :nome %>
              <%= form.text_field :nome, class:"form-control", required: required, placeholder:"Preencha o nome" %>
              <%= errors_for(form, :nome) %>
            </div>
            <div class="col-xs-12 col-md-4">
              <%= form.label :cpf %>
              <%= form.text_field :cpf, class:"form-control",required: required,  placeholder:"Preencha o cpf" %>
              <%= errors_for(form, :cpf) %>
            </div>
            <div class="col-xs-12 col-md-4">
              <%= form.label :cns %>
              <%= form.text_field :cns, class:"form-control",required: required,  placeholder:"Preencha o cns" %>
              <%= errors_for(form, :cns) %>
            </div>  
          </div>
          <div class="row">    
            <div class="col-xs-12 col-md-4">
              <%= form.label :email %>
              <%= form.text_field :email, class:"form-control",required: required,  placeholder:"Preencha o email" %>
              <%= errors_for(form, :email) %>
            </div>
            <div class="col-xs-12 col-md-4">
              <%= form.label :data_nascimento %>
              <%= form.date_field :data_nascimento, class:"form-control", required: required %>
              <%= errors_for(form, :data_nascimento) %>
            </div>
            <div class="col-xs-12 col-md-4">
              <%= form.label :telefone %>
              <%= form.text_field :telefone, class:"form-control",required: required,  placeholder:"Preencha a data de telefone" %>
              <%= errors_for(form, :telefone) %>
            </div>
          </div>
          <div class="row">    
            <div class="col-xs-12 col-md-4">
              <%= form.label :foto %>
              <%= form.file_field :foto, class:"form-control",required: required %>
              <%= errors_for(form, :foto) %>
            </div>
            <div class="col-xs-12 col-md-4 form-switch">
              <%= form.label :status %><br>
              <%= form.check_box :status, class:"form-control", 'data-toggle': "toggle", 'data-size': "sm", checked: true, required: required %>
              <%= errors_for(form, :status) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

<script>
  $(document).ready(function () { 
    $("#municipe_cep").mask('00.000-000', {reverse: true});
    $("#municipe_cpf").mask('000.000.000-00', {reverse: true});
    $("#municipe_telefone").mask('+55 (00) 00000-0000', {reverse: true});
  });
</script>